.img1, .img2 {
  border-radius: 15%;
  width: 70%;
}

h1 {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

img {
  border: 10px solid;
  border-color: black;
}

.image {
  padding: 5%;

}

.container {
  text-align: center;
}

.centerThatFucker {
  text-align: center;
}

button {
  padding-bottom: 10%;
}

body {
  background-image: url(https://media0.giphy.com/media/Ass7N88ITsb3a/giphy.gif?cid=ecf05e47af8u4gqyh62cj3q0j4yu01hwr6yp8rftghyght94&rid=giphy.gif&ct=g);
  background-size: cover;
  background-repeat: repeat-x;
}

@media (max-width: 992px) {
  h1 {
    padding: 15% 0 30% 0;
  }

  .centerThatFucker {
    padding: 15%;
  }


}
